# Arquivos de ambiente
.env
*.env

# Cache e pastas temporárias
__pycache__/
*.py[cod]

# Dados pessoais ou sensíveis
*.csv
*.json

# Pastas do sistema
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Streamlit config
.streamlit/

# Arquivos de dependências
Pipfile
Pipfile.lock
requirements.txt

# Logs
*.log

# Build e distribuições
build/
dist/

# Imagens temporárias
*.png
*.jpg
*.jpeg
*.gif
